<form id="autoBettingForm">
  <div class="form-group">
    <label for="stopLimit">Stop Limit</label>
    <input type="number" class="form-control" id="stopLimit" name="stopLimit" required>
  </div>
  <div class="form-group">
    <label for="numberOfRolls">Number of Rolls</label>
    <input type="number" class="form-control" id="numberOfRolls" name="numberOfRolls" required>
  </div>
  <button type="submit" class="btn btn-primary">Start Auto Bet</button>
</form>
<div id="autoBetStatus"></div>