<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container">
      <h2>User Settings</h2>
      <form id="widgetConfigForm">
        <!-- Input fields for configuring dashboard widgets go here -->
        <button type="submit">Save Widgets Configuration</button>
      </form>
      <select id="themeSelect">
        <option value="light">Light Theme</option>
        <option value="dark">Dark Theme</option>
      </select>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
<script src="/js/settings.js"></script>
</html>