<head>
  <meta charset="UTF-8">
  <title>24Matters</title>
  <link rel="stylesheet" id="bootstrap-css" href="/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/theme.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const themePreference = '<%= locals.themePreference || "light" %>';
      const bootstrapLink = document.getElementById('bootstrap-css');
      const themePath = themePreference === 'dark' ? 
        "/css/bootstrap-dark.min.css" :
        "/css/bootstrap.min.css";
      bootstrapLink.href = themePath;
      console.log(`Theme set to ${themePreference}`);
    });
  </script>
</head>