# Copy this file to .env and edit the settings

# Port to listen on (example: 3000)
PORT=

# MongoDB database URL (example: mongodb://localhost/dbname)
DATABASE_URL=

# Session secret string (must be unique to your server)
SESSION_SECRET=

# Mobile Money API credentials
MOBILE_MONEY_API_URL=your_value_here
MOBILE_MONEY_API_KEY=your_value_here
MOBILE_MONEY_OAUTH_TOKEN=your_value_here
MOBILE_MONEY_TARGET_ENVIRONMENT=your_value_here