<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>MomoDice</h1>
        <div>
          <a href="/game" class="btn btn-primary m-2">Play Game</a>
          <a href="/dashboard" class="btn btn-secondary m-2">Dashboard</a>
        </div>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js" nonce="<%= locals.nonce %>"></script>
</html>